@model List<MovelModelView>
@{
    ViewData["Title"] = "Lista de Móveis";
}

<h1>Lista de Móveis</h1>
<hr />
<table class="table table-hover table-striped container table-responsive">
    <thead>
        <tr>
            <th scope="col">Nº</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Comprado</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
        @foreach (var modelo in Model)
        {
            <tr>
                <th>@counter</th>
                <td>@modelo.Nome</td>
                <td>@modelo.Descricao</td>
                <td>
                    <div class="d-flex">
                        @if (modelo.IsComprado)
                        {
                            <input class="form-check-input" type="checkbox" value="" checked disabled readonly>
                        }

                        else
                        {
                            <input class="form-check-input" type="checkbox" value="" disabled readonly>
                        }
                    </div>
                </td>
            </tr>

            counter++;
        }
    </tbody>
</table>

<a href="@Url.Action("Cadastrar", "Movel")" class="my-2 btn btn-primary">Cadastrar Móvel</a>