@{
    ViewData["Title"] = "Institucional";
}
<h1>@ViewData["Title"]</h1>

<h3>Sobre o Gerenciador de Móveis</h3>
<hr />
<div class="container">
    <div class="row mt-5">
        <div class="col border border-3 border-dark m-2 rounded-3">
            <div class="p-3">
                <h3>Missão</h3>
                <p>Oferecer soluções inovadoras e eficientes para o gerenciamento de móveis, proporcionando aos nossos clientes praticidade, organização e controle sobre seu patrimônio, contribuindo para ambientes mais funcionais e sustentáveis.</p>
            </div>
        </div>
        <div class="col border border-3 border-dark m-2 rounded-3">
            <div class="p-3">
                <h3>Visão</h3>
                <p>Ser reconhecido como líder no setor de gerenciamento de móveis, destacando-se pela excelência em tecnologia, atendimento ao cliente e comprometimento com a sustentabilidade. Buscamos constantemente aprimorar nossas soluções para acompanhar as evoluções do mercado e superar as expectativas de nossos clientes.</p>
            </div>
        </div>
        <div class="col border border-3 border-dark m-2 rounded-3">
            <div class="p-3">
                <h3>Valores</h3>

                <p>
                    <b>Inovação:</b>  Buscamos continuamente novas ideias e tecnologias para aprimorar nossos serviços, proporcionando soluções de ponta aos nossos clientes.
                </p>

                <p>
                    <b>Sustentabilidade:</b> Comprometemo-nos a promover práticas sustentáveis em todas as fases do ciclo de vida dos móveis, contribuindo para um futuro mais ambientalmente responsável.
                </p>

                <p>
                    <b>Integridade:</b> Agimos com honestidade e integridade em todas as interações, construindo relações de confiança e respeito.
                </p>
            </div>
        </div>
    </div>
</div>
